@import "tailwindcss";

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
}

input[type="search"]::-moz-search-cancel-button {
    display: none;
}

input[type="search"]::-ms-clear {
    display: none;
}

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-md: 1100px;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {

  .custom-container {
    width: 100%;
    padding-inline: 36px;
  }

  .content-container {
    width: 100%;
    padding-inline: 58px;
  }

  @media (max-width: 1100px) {
    .custom-container {
      padding-inline: 20px;
    }

    .content-container {
      padding-inline: 40px;
    }
  }

  .menu-item {
    font-size: 1rem;
    font-weight: 500;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: 
      linear-gradient(to bottom, rgba(23, 23, 23, 0) 0%, #171717 100%), 
      radial-gradient(circle at right center, rgba(23, 23, 23, 0) 0%, #171717 80%); 
  }

}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-slideIn {
    animation: slideIn 0.3s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}