@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {

  .header-container{
    width: 100%;
    padding-inline: 36px;
  }

  .content-container{
    width: 100%;
    padding-inline: 58px;
  }

  @media (max-width: 1100px) {
    
    .header-container{
      width: 100%;
      padding-inline: 20px;
    }

    .content-container{
      width: 100%;
      padding-inline: 40px;
    }

  }

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
